.container {
  min-width: 1000px;
  border: 1px solid black;
  background-color: #3b556d;
}
.header {
  background-color: #2d4053;
  border-radius: 10px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #3b7973;
  font-weight: bold;
}
img {
  border: 10px solid transparent;
  height: 250px;
  width: 240px;
  background-color: #1c2942;
  border-radius: 10px;
  margin: 10px;
}
#logo-titre {
  display: flex;
  justify-content: center;
}
#titre {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: #5fc2ba;
  background-color: #1c2942;
  border-radius: 10px;
  margin: 10px;
  font-size: 50px;
}
#description {
  min-height: 30px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #3b7973;
  font-weight: bold;
}
